# Customer transactions

In [11]:
import pandas as pd
import numpy as np

## Import classes to SQL

In [12]:
# from sqlalchemy import create_engine,VARCHAR, DATE

## Import classes for date

In [13]:
from datetime import date

## Read the JSON file

In [14]:
df_customer_transaction = pd.read_json("customer_transaction_info.json")

In [15]:
length = len(df_customer_transaction)
df_customer_transaction.head(length)

           txn_id  avail_date last_name first_name    birthday
0       TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1       TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
...           ...         ...       ...        ...         ...
130648  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130650  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21
130652  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[130653 rows x 5 columns]

# Cleaning the Database

## Drop Duplicates

In [ ]:
df_DropDuplicated_Customers = df_bday_avail.drop_duplicates()

## Drop Inconsistent avail_date and birthday

In [16]:
df_customer_transaction['avail_date'] = pd.to_datetime(df_customer_transaction['avail_date'], errors='coerce')
df_customer_transaction['birthday'] = pd.to_datetime(df_customer_transaction['birthday'], errors='coerce')
df_filt = df_customer_transaction[(df_customer_transaction['avail_date'] <= pd.to_datetime(date.today()))]
df_filt = df_filt[(df_filt['birthday'] <= pd.to_datetime(date.today()))]
df_bday_avail = df_filt[(df_filt['birthday'] < df_filt['avail_date'])]

## Drop Non Alpha First and Last Names

In [18]:
nonAlphaNames = df_DropDuplicated_Customers[df_DropDuplicated_Customers['first_name'].str.isalpha()]
nonAlphaNames = nonAlphaNames[nonAlphaNames['last_name'].str.isalpha()]

nonAlphaNames.loc[:, 'first_name'] = nonAlphaNames['first_name'].str.capitalize()
nonAlphaNames.loc[:, 'last_name'] = nonAlphaNames['last_name'].str.capitalize()

In [30]:
nonAlphaNames.to_parquet('finalcustomerinfo.parquet')

In [29]:
nonAlphaNames.head(30)

       txn_id avail_date    last_name  first_name   birthday
2   TXN-60295 2006-09-25        Lesch       Fleta 1993-05-22
6   TXN-40462 2021-08-21         Kuhn         Tod 2002-11-25
8   TXN-08102 2010-04-03      Johnson      Milton 2003-07-10
12  TXN-64262 2018-11-23      Hackett        Maci 2005-06-20
24  TXN-59988 2021-02-01    Bashirian       Brice 2004-07-20
25  TXN-08158 2023-08-05         Batz    Timmothy 2008-10-06
30  TXN-37609 2022-09-04        Kunde     Mariana 1996-10-29
31  TXN-31294 2018-01-04  Breitenberg       Madge 2006-06-22
38  TXN-21732 2017-03-16     Turcotte      Hellen 1996-03-25
39  TXN-31732 2013-04-28      Lockman       Chadd 2003-06-17
41  TXN-38645 2021-07-21       Hammes  Antoinette 2001-07-20
46  TXN-34790 2023-01-04      Padberg      Shemar 2010-10-25
47  TXN-30063 2015-06-25        Zieme       Robyn 1991-05-10
57  TXN-13842 2022-08-31        Olson       Berry 2001-07-10
58  TXN-21223 2011-09-07        Stamm    Salvador 1991-12-29
61  TXN-09306 2023-07-24      Tillman       Lenna 1993-07-25
63  TXN-61437 2014-10-04     Connelly     Donnell 2007-01-06
66  TXN-08569 2016-06-28  Schamberger       Barry 1996-10-21
71  TXN-41623 2016-06-05     Reynolds     Allison 1997-07-26
74  TXN-28201 2006-06-15        Beier      Tyrese 2002-06-22
75  TXN-03974 2005-07-12      Mueller     Lysanne 1992-01-27
76  TXN-31636 2009-04-27     Shanahan    Ignatius 1990-10-25
79  TXN-51046 2007-10-01        Feest      Hattie 2000-06-20
82  TXN-31123 2019-06-23   Bartoletti        Joel 2009-10-25
83  TXN-37101 2013-12-22          Rau        John 1990-07-31
84  TXN-56854 2014-02-24         Dach        Kory 2008-09-21
86  TXN-63806 2022-07-12       Dooley     Savanah 1996-04-13
88  TXN-04405 2011-03-18    Abernathy    Domenick 2001-11-11
91  TXN-52606 2020-02-24     Luettgen       Pablo 2001-09-23
94  TXN-13398 2023-09-02       Rogahn     Garland 1992-04-30

## Export the Clean Data to SQL

In [19]:
# nonAlphaNames['avail_date'] = pd.to_datetime(df_customer_transaction['avail_date'], errors='coerce')
# nonAlphaNames['birthday'] = pd.to_datetime(df_customer_transaction['birthday'], errors='coerce')
# engine = create_engine('sqlite:///customer_transactions.db', echo=True)
# nonAlphaNames.to_sql('customer_transactions', con=engine, if_exists='replace', index=False,
#                               dtype={
#                                   "txn_id": VARCHAR(10),
#                                   "avail_date" : DATE,
#                                   "last_name" : VARCHAR(20),
#                                   "first_name" : VARCHAR(20),
#                                   "birthday" : DATE,
#                               })