In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine,VARCHAR, DATE

# <b>Importing Data <b>

In [2]:
df_branch_service = pd.read_json("branch_service_transaction_info.json")

## DATA PROFILING

## INITIAL SHAPE AND UNIQUE ROWS

In [3]:
print("Total rows and columns: ",df_branch_service.shape)
print("Total Number of unique rows: ", df_branch_service['txn_id'].nunique())

Total rows and columns:  (130653, 4)
Total Number of unique rows:  62354

## Getting the key columns

In [4]:
print(df_branch_service.columns)

Index(['txn_id', 'branch_name', 'service', 'price'], dtype='object')

## Total number of rows with missing/null values

In [5]:
df_totalnulls = df_branch_service.isnull().any(axis=1).sum()
empty_string_count = (df_branch_service == '').any(axis=1).sum()
empty_string_count += (df_branch_service == 'N/A').any(axis=1).sum()
print("Total number of rows with a null or missing value: ", df_totalnulls + empty_string_count)

Total number of rows with a null or missing value:  33007

## Total Number of Exact Duplicates (Ground for Duplication)

In [6]:
print(df_branch_service.duplicated().sum())

12377

## Total Number of Duplicated Transaction IDs  (One-Many Relationship)

In [7]:
print(df_branch_service.duplicated(subset=['txn_id']).sum())

68299

## List of All Values per Column

In [8]:
print(df_branch_service['branch_name'].unique())
print(df_branch_service['service'].unique()) 
print(df_branch_service['price'].unique())

['MallOfAsia' 'Starmall' 'SmallMall' 'MayMall' 'FrankMall' 'Megamall'
 'RobinsonsMall' '' None 'N/A']
['Manicure' 'HairColor' 'FootSpa' 'Rebond' 'Haircut' 'NailColor'
 'Pedicure']
[         nan   0.          30.1237897   66.12345678  77.987989
 100.12123    400.23123     55.2324      88.09393   ]

## Frequency Distributions per Column

### Transaction ID

In [9]:
df_branch_service['txn_id'].describe().to_frame()

           txn_id
count      130653
unique      62354
top     TXN-06185
freq           18

### Service

In [10]:
df_branch_service['service'].describe().to_frame()

          service
count      130653
unique          7
top     NailColor
freq        19034

In [11]:
df_branch_service['service'].value_counts().to_frame()

           count
service
NailColor  19034
Rebond     18776
Pedicure   18688
FootSpa    18676
Manicure   18648
HairColor  18537
Haircut    18294

### Branch Names

In [12]:
df_branch_service['branch_name'].describe().to_frame()

       branch_name
count       120345
unique           9
top      SmallMall
freq         16830

In [13]:
df_branch_service['branch_name'].value_counts().to_frame()

               count
branch_name
SmallMall      16830
Megamall       16651
MallOfAsia     16641
MayMall        16572
FrankMall      16532
RobinsonsMall  16520
Starmall       16308
N/A             2159
                2132

### Price

In [14]:
df_branch_service['price'].describe()

count    110653.000000
mean         95.966969
std         115.874117
min           0.000000
25%          30.123790
50%          66.123457
75%          88.093930
max         400.231230
Name: price, dtype: float64

## List of all Prices per Service

In [15]:
print(df_branch_service.groupby('service')['price'].unique())

service
FootSpa        [nan, 0.0, 100.12123]
HairColor       [nan, 0.0, 88.09393]
Haircut      [nan, 0.0, 66.12345678]
Manicure         [nan, 0.0, 55.2324]
NailColor     [nan, 0.0, 30.1237897]
Pedicure       [nan, 0.0, 77.987989]
Rebond         [nan, 0.0, 400.23123]
Name: price, dtype: object

## Count of Services Provided per Branch

In [16]:
service_list = df_branch_service.groupby('branch_name')['service'].nunique()
print(service_list)

branch_name
                 1
FrankMall        7
MallOfAsia       7
MayMall          7
Megamall         7
N/A              1
RobinsonsMall    7
SmallMall        7
Starmall         7
Name: service, dtype: int64

## Null Checking of Branch Name (for removal)

In [17]:
filtered_branch = df_branch_service[(df_branch_service['branch_name'] == 'N/A') | (df_branch_service['branch_name'] == '') 
| (df_branch_service['branch_name'].isna())]
print(filtered_branch)

           txn_id branch_name    service       price
21      TXN-43150                Haircut         NaN
24      TXN-59988        None     Rebond         NaN
50      TXN-25855         N/A  NailColor         NaN
66      TXN-08569        None     Rebond         NaN
75      TXN-03974        None     Rebond         NaN
...           ...         ...        ...         ...
130602  TXN-39344        None   Manicure   55.232400
130607  TXN-60320        None     Rebond  400.231230
130618  TXN-43035        None  HairColor   88.093930
130625  TXN-37684                Haircut   66.123457
130646  TXN-43876                Haircut   66.123457

[14599 rows x 4 columns]

## Null Checking for Price (for fixing. One-One for service and price)

In [18]:
filtered_price = df_branch_service[(df_branch_service['price'] == 0)] 
print(filtered_price)

          txn_id    branch_name    service  price
20000  TXN-05451        MayMall  HairColor    0.0
20001  TXN-05451       Starmall  HairColor    0.0
20002  TXN-02255      FrankMall     Rebond    0.0
20003  TXN-02255       Megamall     Rebond    0.0
20004  TXN-02255        MayMall     Rebond    0.0
...          ...            ...        ...    ...
39995  TXN-45930       Starmall    Haircut    0.0
39996  TXN-03162  RobinsonsMall   Pedicure    0.0
39997  TXN-03162        MayMall   Pedicure    0.0
39998  TXN-16572       Megamall   Pedicure    0.0
39999  TXN-16572      SmallMall   Pedicure    0.0

[20000 rows x 4 columns]

In [19]:
filtered_price = (df_branch_service[df_branch_service['price'].isna()])
print(filtered_price)

          txn_id branch_name    service  price
0      TXN-24546  MallOfAsia   Manicure    NaN
1      TXN-14642    Starmall  HairColor    NaN
2      TXN-60295   SmallMall    FootSpa    NaN
3      TXN-60295    Starmall    FootSpa    NaN
4      TXN-60295     MayMall    FootSpa    NaN
...          ...         ...        ...    ...
19995  TXN-11721        None  HairColor    NaN
19996  TXN-64348  MallOfAsia    Haircut    NaN
19997  TXN-64348  MallOfAsia    Haircut    NaN
19998  TXN-64348  MallOfAsia    Haircut    NaN
19999  TXN-05451    Megamall  HairColor    NaN

[20000 rows x 4 columns]

## Null Checking of Service (for removal)

In [20]:
filtered_branch = df_branch_service[(df_branch_service['service'] == 'N/A') | (df_branch_service['service'] == '') 
| (df_branch_service['service'].isna())]
print(filtered_branch)

Empty DataFrame
Columns: [txn_id, branch_name, service, price]
Index: []

# END OF PROFILING

### REMOVE DUPLICATES

In [21]:
print(df_branch_service.shape)
df_branch_service = df_branch_service.drop_duplicates()
print(df_branch_service.shape)

(130653, 4)
(118276, 4)

### Remove Duplicate Transaction IDs

In [22]:
df_branch_service.drop_duplicates(subset=['txn_id'], inplace=True)

print(df_branch_service.shape)
print(df_branch_service.nunique())

(62354, 4)
txn_id         62354
branch_name        9
service            7
price              8
dtype: int64

In [23]:
df_branch_service.to_parquet('parquets/branch_service_duplicates_removed.parquet')

### REMOVE NULL VALUES

In [24]:
df_branch_service = df_branch_service.dropna(subset=['branch_name'])
df_branch_service = df_branch_service.dropna(subset=['service'])
print('Null Values Dropped Currently at:',df_branch_service.shape)

Null Values Dropped Currently at: (53474, 4)

### REMOVE / REPLACE MISSING VALUES

In [25]:
df_branch_service = df_branch_service.drop(df_branch_service[df_branch_service['branch_name'] == ''].index)
df_branch_service = df_branch_service.drop(df_branch_service[df_branch_service['branch_name'] == 'N/A'].index)

# conditions to fill in missing prices
serviceArray = ['Manicure', 'HairColor', 'FootSpa', 'Rebond', 'Haircut', 'NailColor', 'Pedicure']
priceArray = [55.23, 88.09, 100.12, 400.23, 66.12, 30.12, 77.99]

for i in range(len(serviceArray)):
    df_branch_service.loc[(df_branch_service['service'] == serviceArray[i]) & (df_branch_service['price'].isnull()), 'price'] = priceArray[i]


print(df_branch_service.shape)
df_branch_service.to_parquet('parquets/branch_service_nullbranch_removed.parquet')

(49784, 4)

### Formatting Values

### CHANGE VALUES TO CAMELCASE

In [26]:
df_branch_service.loc[df_branch_service['branch_name'] == 'Starmall', 'branch_name'] = 'StarMall'
df_branch_service.loc[df_branch_service['branch_name'] == 'Megamall', 'branch_name'] = 'MegaMall'

### ROUND  PRICES TO 2 DECIMAL PLACES

In [27]:
df_branch_service = df_branch_service.round({'price': 2})

In [29]:
df_branch_service.to_parquet('parquets/branch_service_formatted_values.parquet')

In [30]:
df_branch_service.sort_values(by=['txn_id'], inplace=True, ascending=True)     
df_branch_service.head(30)

           txn_id    branch_name    service   price
105465  TXN-00000     MallOfAsia  HairColor   88.09
102747  TXN-00001       MegaMall    Haircut   66.12
83113   TXN-00005  RobinsonsMall    Haircut   66.12
88556   TXN-00006      FrankMall   Pedicure   77.99
50273   TXN-00007      SmallMall  HairColor   88.09
69179   TXN-00008      FrankMall   Manicure   55.23
99529   TXN-00009  RobinsonsMall  HairColor   88.09
42495   TXN-00010       StarMall  HairColor   88.09
71998   TXN-00012       StarMall     Rebond  400.23
82114   TXN-00013      SmallMall   Manicure   55.23
85824   TXN-00014       StarMall   Pedicure   77.99
71964   TXN-00016      FrankMall   Manicure   55.23
53987   TXN-00018     MallOfAsia    Haircut   66.12
57339   TXN-00019      SmallMall    FootSpa  100.12
52903   TXN-00020      SmallMall    FootSpa  100.12
42559   TXN-00022      SmallMall     Rebond  400.23
69743   TXN-00023      SmallMall     Rebond  400.23
39455   TXN-00024  RobinsonsMall     Rebond    0.00
93846   TXN-00025        MayMall   Manicure   55.23
74858   TXN-00026      SmallMall  HairColor   88.09
24125   TXN-00027      SmallMall   Manicure    0.00
5074    TXN-00028      SmallMall    FootSpa  100.12
40128   TXN-00029  RobinsonsMall    Haircut   66.12
56620   TXN-00030  RobinsonsMall    FootSpa  100.12
2416    TXN-00031       MegaMall     Rebond  400.23
105916  TXN-00033      SmallMall  HairColor   88.09
2456    TXN-00035  RobinsonsMall  NailColor   30.12
4301    TXN-00038  RobinsonsMall  HairColor   88.09
86234   TXN-00039        MayMall   Manicure   55.23
35248   TXN-00040       StarMall     Rebond    0.00

## Export to SQLite DB

In [31]:
engine = create_engine('sqlite:///branch_services.db', echo=True)
df_branch_service.to_sql('branch_services', con=engine, if_exists='replace', index=False,
                               dtype={
                                   "txn_id": VARCHAR(10),
                                   "branch_name" : VARCHAR(20),
                                   "service" : VARCHAR(20),
                                   "price" : VARCHAR(20),
                               })

2023-11-24 15:48:09,597 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-24 15:48:09,602 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("branch_services")
2023-11-24 15:48:09,603 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,605 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("branch_services")
2023-11-24 15:48:09,606 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,608 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-11-24 15:48:09,608 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,611 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-11-24 15:48:09,613 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,618 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("branch_services")
2023-11-24 15:48:09,619 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,622 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-24 15:48:09,623 INFO sqlalchemy.engine.Engine [raw sql] ('branch_services',)
2023-11-24 15:48:09,625 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("branch_services")
2023-11-24 15:48:09,627 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,628 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("branch_services")
2023-11-24 15:48:09,628 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,629 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-24 15:48:09,630 INFO sqlalchemy.engine.Engine [raw sql] ('branch_services',)
2023-11-24 15:48:09,633 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("branch_services")
2023-11-24 15:48:09,635 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,636 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("branch_services")
2023-11-24 15:48:09,637 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,638 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("branch_services")
2023-11-24 15:48:09,639 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,639 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("branch_services")
2023-11-24 15:48:09,640 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,641 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("branch_services")
2023-11-24 15:48:09,642 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,643 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("branch_services")
2023-11-24 15:48:09,643 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-24 15:48:09,645 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-24 15:48:09,646 INFO sqlalchemy.engine.Engine [raw sql] ('branch_services',)
2023-11-24 15:48:09,649 INFO sqlalchemy.engine.Engine
DROP TABLE branch_services
2023-11-24 15:48:09,651 INFO sqlalchemy.engine.Engine [no key 0.00210s] ()
2023-11-24 15:48:09,674 INFO sqlalchemy.engine.Engine
CREATE TABLE branch_services (
	txn_id VARCHAR(10),
	branch_name VARCHAR(20),
	service VARCHAR(20),
	price VARCHAR(20)
)


2023-11-24 15:48:09,676 INFO sqlalchemy.engine.Engine [no key 0.00194s] ()
2023-11-24 15:48:10,051 INFO sqlalchemy.engine.Engine INSERT INTO branch_services (txn_id, branch_name, service, price) VALUES (?, ?, ?, ?)
2023-11-24 15:48:10,053 INFO sqlalchemy.engine.Engine [generated in 0.17894s] [('TXN-00000', 'MallOfAsia', 'HairColor', 88.09), ('TXN-00001', 'MegaMall', 'Haircut', 66.12), ('TXN-00005', 'RobinsonsMall', 'Haircut', 66.12), ('TXN-00006', 'FrankMall', 'Pedicure', 77.99), ('TXN-00007', 'SmallMall', 'HairColor', 88.09), ('TXN-00008', 'FrankMall', 'Manicure', 55.23), ('TXN-00009', 'RobinsonsMall', 'HairColor', 88.09), ('TXN-00010', 'StarMall', 'HairColor', 88.09)  ... displaying 10 of 49784 total bound parameter sets ...  ('TXN-65532', 'FrankMall', 'NailColor', 30.12), ('TXN-65535', 'StarMall', 'NailColor', 30.12)]
2023-11-24 15:48:10,208 INFO sqlalchemy.engine.Engine COMMIT

49784