In [2]:
import pandas as pd
import numpy as np

In [ ]:
#### Reads the JSON file (Pandas)

In [3]:
df_customer_transaction = pd.read_json("customer_transaction_info.json")

In [ ]:
#### Shows the first number of students

df_customer_transaction.head()

In [ ]:
#### Shows the length of columns (data) in the json file

len(df_customer_transaction)

In [12]:
df_customer_transaction.head(130654)

           txn_id  avail_date last_name first_name    birthday
0       TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1       TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
...           ...         ...       ...        ...         ...
130648  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130650  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21
130652  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[130653 rows x 5 columns]

# Cleaning the Database

In [20]:
df_customer_transaction.duplicated(keep=False)

0         False
1         False
2          True
3          True
4          True
          ...
130648     True
130649     True
130650     True
130651     True
130652     True
Length: 130653, dtype: bool