In [1]:
import pandas as pd
import numpy as np

In [ ]:
## Import classes to SQL

In [6]:
#### Reads the JSON file (Pandas)

In [2]:
df_customer_transaction = pd.read_json("customer_transaction_info.json")

In [8]:
#### Shows the first number of students

In [3]:
df_customer_transaction.head()

      txn_id  avail_date last_name first_name    birthday
0  TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1  TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22

In [9]:
#### Shows the length of columns (data) in the json file

In [4]:
len(df_customer_transaction)

130653

In [5]:
df_customer_transaction.head(130654)

           txn_id  avail_date last_name first_name    birthday
0       TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1       TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
...           ...         ...       ...        ...         ...
130648  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130650  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21
130652  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[130653 rows x 5 columns]

In [ ]:
## Convert the original customer.json file to sqlite

In [17]:
from sqlalchemy import create_engine
from sqlalchemy import VARCHAR, DATE

In [21]:
engine = create_engine('sqlite:///customer_transactions.db', echo=True)
df_customer_transaction.to_sql('customer_transactions', con=engine, if_exists='replace', index=False,
                              dtype={
                                  "txn_id": VARCHAR(10),
                                  "avail_date" : DATE(),
                                  "last_name" : VARCHAR(20),
                                  "first_name" : VARCHAR(20),
                                  "birthday" : DATE()
                              })

2023-11-22 09:55:15,401 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-22 09:55:15,402 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 09:55:15,403 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,404 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 09:55:15,404 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,405 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-11-22 09:55:15,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,406 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-11-22 09:55:15,406 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,407 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("customer_transactions")
2023-11-22 09:55:15,407 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,407 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-22 09:55:15,409 INFO sqlalchemy.engine.Engine [raw sql] ('customer_transactions',)
2023-11-22 09:55:15,409 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("customer_transactions")
2023-11-22 09:55:15,410 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,410 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("customer_transactions")
2023-11-22 09:55:15,411 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,411 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-22 09:55:15,411 INFO sqlalchemy.engine.Engine [raw sql] ('customer_transactions',)
2023-11-22 09:55:15,412 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customer_transactions")
2023-11-22 09:55:15,412 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,413 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("customer_transactions")
2023-11-22 09:55:15,413 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,414 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 09:55:15,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,415 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customer_transactions")
2023-11-22 09:55:15,415 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,416 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("customer_transactions")
2023-11-22 09:55:15,416 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,416 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 09:55:15,417 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:55:15,417 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-22 09:55:15,419 INFO sqlalchemy.engine.Engine [raw sql] ('customer_transactions',)
2023-11-22 09:55:15,420 INFO sqlalchemy.engine.Engine
DROP TABLE customer_transactions
2023-11-22 09:55:15,420 INFO sqlalchemy.engine.Engine [no key 0.00051s] ()
2023-11-22 09:55:15,432 INFO sqlalchemy.engine.Engine
CREATE TABLE customer_transactions (
	txn_id VARCHAR(10),
	avail_date DATE,
	last_name VARCHAR(20),
	first_name VARCHAR(20),
	birthday DATE
)


2023-11-22 09:55:15,432 INFO sqlalchemy.engine.Engine [no key 0.00106s] ()
2023-11-22 09:55:15,830 INFO sqlalchemy.engine.Engine COMMIT

StatementError: (builtins.TypeError) SQLite Date type only accepts Python date objects as input.
[SQL: INSERT INTO customer_transactions (txn_id, avail_date, last_name, first_name, birthday) VALUES (?, ?, ?, ?, ?)]
[parameters: [{'txn_id': 'TXN-24546', 'avail_date': '2030-09-08', 'last_name': 'ORTIZ', 'first_name': 'EDUARDO', 'birthday': '1990-07-08'}, {'txn_id': 'TXN-14642', 'avail_date': '2026-05-26', 'last_name': 'NIENOW', 'first_name': 'LEA', 'birthday': '2000-11-26'}, {'txn_id': 'TXN-60295', 'avail_date': '2006-09-25', 'last_name': 'LESCH', 'first_name': 'FLETA', 'birthday': '1993-05-22'}, {'txn_id': 'TXN-60295', 'avail_date': '2006-09-25', 'last_name': 'LESCH', 'first_name': 'FLETA', 'birthday': '1993-05-22'}, {'txn_id': 'TXN-60295', 'avail_date': '2006-09-25', 'last_name': 'LESCH', 'first_name': 'FLETA', 'birthday': '1993-05-22'}, {'txn_id': 'TXN-60295', 'avail_date': '2006-09-25', 'last_name': 'LESCH', 'first_name': 'FLETA', 'birthday': '1993-05-22'}, {'txn_id': 'TXN-40462', 'avail_date': '2021-08-21', 'last_name': 'KUHN', 'first_name': 'TOD', 'birthday': '2002-11-25'}, {'txn_id': 'TXN-40462', 'avail_date': '2021-08-21', 'last_name': 'KUHN', 'first_name': 'TOD', 'birthday': '2002-11-25'}, {'txn_id': 'TXN-08102', 'avail_date': '2010-04-03', 'last_name': 'JOHNSON', 'first_name': 'MILTON', 'birthday': '2003-07-10'}, {'txn_id': 'TXN-08102', 'avail_date': '2010-04-03', 'last_name': 'JOHNSON', 'first_name': 'MILTON', 'birthday': '2003-07-10'}, {'txn_id': 'TXN-08102', 'avail_date': '2010-04-03', 'last_name': 'JOHNSON', 'first_name': 'MILTON', 'birthday': '2003-07-10'}, {'txn_id': 'TXN-08102', 'avail_date': '2010-04-03', 'last_name': 'JOHNSON', 'first_name': 'MILTON', 'birthday': '2003-07-10'}, {'txn_id': 'TXN-64262', 'avail_date': '2018-11-23', 'last_name': 'HACKETT', 'first_name': 'MACI', 'birthday': '2005-06-20'}, {'txn_id': 'TXN-64262', 'avail_date': '2018-11-23', 'last_name': 'HACKETT', 'first_name': 'MACI', 'birthday': '2005-06-20'}, {'txn_id': 'TXN-64262', 'avail_date': '2018-11-23', 'last_name': 'HACKETT', 'first_name': 'MACI', 'birthday': '2005-06-20'}, {'txn_id': 'TXN-41934', 'avail_date': '2025-03-07', 'last_name': 'HANE', 'first_name': 'SYLVAN', 'birthday': '2007-07-02'}, {'txn_id': 'TXN-41934', 'avail_date': '2025-03-07', 'last_name': 'HANE', 'first_name': 'SYLVAN', 'birthday': '2007-07-02'}, {'txn_id': 'TXN-41934', 'avail_date': '2025-03-07', 'last_name': 'HANE', 'first_name': 'SYLVAN', 'birthday': '2007-07-02'}, {'txn_id': 'TXN-41934', 'avail_date': '2025-03-07', 'last_name': 'HANE', 'first_name': 'SYLVAN', 'birthday': '2007-07-02'}, {'txn_id': 'TXN-39050', 'avail_date': '2028-11-09', 'last_name': 'MAYER', 'first_name': 'TREMAINE', 'birthday': '1990-02-01'}, {'txn_id': 'TXN-39050', 'avail_date': '2028-11-09', 'last_name': 'MAYER', 'first_name': 'TREMAINE', 'birthday': '1990-02-01'}, {'txn_id': 'TXN-43150', 'avail_date': '2027-08-14', 'last_name': 'LEUSCHKE', 'first_name': 'ASHTON', 'birthday': '2004-08-23'}, {'txn_id': 'TXN-49423', 'avail_date': '2008-08-13', 'last_name': 'BERGE', 'first_name': 'RASHEED', 'birthday': '2010-02-05'}, {'txn_id': 'TXN-49423', 'avail_date': '2008-08-13', 'last_name': 'BERGE', 'first_name': 'RASHEED', 'birthday': '2010-02-05'}, {'txn_id': 'TXN-59988', 'avail_date': '2021-02-01', 'last_name': 'BASHIRIAN', 'first_name': 'BRICE', 'birthday': '2004-07-20'}, {'txn_id': 'TXN-08158', 'avail_date': '2023-08-05', 'last_name': 'BATZ', 'first_name': 'TIMMOTHY', 'birthday': '2008-10-06'}, {'txn_id': 'TXN-08158', 'avail_date': '2023-08-05', 'last_name': 'BATZ', 'first_name': 'TIMMOTHY', 'birthday': '2008-10-06'}, {'txn_id': 'TXN-15331', 'avail_date': '2025-05-02', 'last_name': 'SMITH', 'first_name': 'KACIE', 'birthday': '2002-10-28'}, {'txn_id': 'TXN-15331', 'avail_date': '2025-05-02', 'last_name': 'SMITH', 'first_name': 'KACIE', 'birthday': '2002-10-28'}, {'txn_id': 'TXN-15331', 'avail_date': '2025-05-02', 'last_name': 'SMITH', 'first_name': 'KACIE', 'birthday': '2002-10-28'}, {'txn_id': 'TXN-37609', 'avail_date': '2022-09-04', 'last_name': 'KUNDE', 'first_name': 'MARIANA', 'birthday': '1996-10-29'}, {'txn_id': 'TXN-31294', 'avail_date': '2018-01-04', 'last_name': 'BREITENBERG', 'first_name': 'MADGE', 'birthday': '2006-06-22'}, {'txn_id': 'TXN-31294', 'avail_date': '2018-01-04', 'last_name': 'BREITENBERG', 'first_name': 'MADGE', 'birthday': '2006-06-22'}, {'txn_id': 'TXN-31294', 'avail_date': '2018-01-04', 'last_name': 'BREITENBERG', 'first_name': 'MADGE', 'birthday': '2006-06-22'}, {'txn_id': 'TXN-38413', 'avail_date': '2025-03-29', 'last_name': 'KIHN', 'first_name': 'JESS', 'birthday': '2010-04-05'}, {'txn_id': 'TXN-51225', 'avail_date': '2029-02-07', 'last_name': 'MCCULLOUGH', 'first_name': 'KIRK', 'birthday': '1992-12-29'}, {'txn_id': 'TXN-35244', 'avail_date': '2005-11-23', 'last_name': 'HAMMES', 'first_name': 'EUNICE', 'birthday': '2006-06-13'}, {'txn_id': 'TXN-35244', 'avail_date': '2005-11-23', 'last_name': 'HAMMES', 'first_name': 'EUNICE', 'birthday': '2006-06-13'}, {'txn_id': 'TXN-21732', 'avail_date': '2017-03-16', 'last_name': 'TURCOTTE', 'first_name': 'HELLEN', 'birthday': '1996-03-25'}, {'txn_id': 'TXN-31732', 'avail_date': '2013-04-28', 'last_name': 'LOCKMAN', 'first_name': 'CHADD', 'birthday': '2003-06-17'}, {'txn_id': 'TXN-31732', 'avail_date': '2013-04-28', 'last_name': 'LOCKMAN', 'first_name': 'CHADD', 'birthday': '2003-06-17'}, {'txn_id': 'TXN-38645', 'avail_date': '2021-07-21', 'last_name': 'HAMMES', 'first_name': 'ANTOINETTE', 'birthday': '2001-07-20'}, {'txn_id': 'TXN-38645', 'avail_date': '2021-07-21', 'last_name': 'HAMMES', 'first_name': 'ANTOINETTE', 'birthday': '2001-07-20'}, {'txn_id': 'TXN-38645', 'avail_date': '2021-07-21', 'last_name': 'HAMMES', 'first_name': 'ANTOINETTE', 'birthday': '2001-07-20'}, {'txn_id': 'TXN-38645', 'avail_date': '2021-07-21', 'last_name': 'HAMMES', 'first_name': 'ANTOINETTE', 'birthday': '2001-07-20'}, {'txn_id': 'TXN-38645', 'avail_date': '2021-07-21', 'last_name': 'HAMMES', 'first_name': 'ANTOINETTE', 'birthday': '2001-07-20'}, {'txn_id': 'TXN-34790', 'avail_date': '2023-01-04', 'last_name': 'PADBERG', 'first_name': 'SHEMAR', 'birthday': '2010-10-25'}, {'txn_id': 'TXN-30063', 'avail_date': '2015-06-25', 'last_name': 'ZIEME', 'first_name': 'ROBYN', 'birthday': '1991-05-10'}, {'txn_id': 'TXN-30063', 'avail_date': '2015-06-25', 'last_name': 'ZIEME', 'first_name': 'ROBYN', 'birthday': '1991-05-10'}, {'txn_id': 'TXN-30063', 'avail_date': '2015-06-25', 'last_name': 'ZIEME', 'first_name': 'ROBYN', 'birthday': '1991-05-10'} ... 130553 parameters truncated ... {'txn_id': 'TXN-10845', 'avail_date': '2008-10-28', 'last_name': 'Skiles', 'first_name': 'Haskell', 'birthday': '1999-06-05'}, {'txn_id': 'TXN-41793', 'avail_date': '2010-06-13', 'last_name': 'Klocko', 'first_name': 'Jason', 'birthday': '2009-06-08'}, {'txn_id': 'TXN-41793', 'avail_date': '2010-06-13', 'last_name': 'Klocko', 'first_name': 'Jason', 'birthday': '2009-06-08'}, {'txn_id': 'TXN-41793', 'avail_date': '2010-06-13', 'last_name': 'Klocko', 'first_name': 'Jason', 'birthday': '2009-06-08'}, {'txn_id': 'TXN-60320', 'avail_date': '2019-08-27', 'last_name': 'Fahey', 'first_name': 'Trace', 'birthday': '2004-12-26'}, {'txn_id': 'TXN-34533', 'avail_date': '2028-07-26', 'last_name': 'Gutmann', 'first_name': 'Salvatore', 'birthday': '2007-06-12'}, {'txn_id': 'TXN-34533', 'avail_date': '2028-07-26', 'last_name': 'Gutmann', 'first_name': 'Salvatore', 'birthday': '2007-06-12'}, {'txn_id': 'TXN-09795', 'avail_date': '2016-05-07', 'last_name': 'Hammes', 'first_name': 'Luz', 'birthday': '1992-05-18'}, {'txn_id': 'TXN-09795', 'avail_date': '2016-05-07', 'last_name': 'Hammes', 'first_name': 'Luz', 'birthday': '1992-05-18'}, {'txn_id': 'TXN-52436', 'avail_date': '2022-01-28', 'last_name': 'Lindgren', 'first_name': 'Leonie', 'birthday': '1990-04-20'}, {'txn_id': 'TXN-52436', 'avail_date': '2022-01-28', 'last_name': 'Lindgren', 'first_name': 'Leonie', 'birthday': '1990-04-20'}, {'txn_id': 'TXN-03109', 'avail_date': '2021-03-17', 'last_name': 'Reichel', 'first_name': 'Murphy', 'birthday': '1992-01-29'}, {'txn_id': 'TXN-03109', 'avail_date': '2021-03-17', 'last_name': 'Reichel', 'first_name': 'Murphy', 'birthday': '1992-01-29'}, {'txn_id': 'TXN-03555', 'avail_date': '2013-08-12', 'last_name': 'Hoeger', 'first_name': 'Vena', 'birthday': '1999-02-28'}, {'txn_id': 'TXN-03555', 'avail_date': '2013-08-12', 'last_name': 'Hoeger', 'first_name': 'Vena', 'birthday': '1999-02-28'}, {'txn_id': 'TXN-43035', 'avail_date': '2022-05-28', 'last_name': 'Crona', 'first_name': 'Velma', 'birthday': '1999-06-16'}, {'txn_id': 'TXN-42151', 'avail_date': '2010-03-23', 'last_name': 'Hagenes', 'first_name': 'Ryann', 'birthday': '1991-09-13'}, {'txn_id': 'TXN-42151', 'avail_date': '2010-03-23', 'last_name': 'Hagenes', 'first_name': 'Ryann', 'birthday': '1991-09-13'}, {'txn_id': 'TXN-42151', 'avail_date': '2010-03-23', 'last_name': 'Hagenes', 'first_name': 'Ryann', 'birthday': '1991-09-13'}, {'txn_id': 'TXN-48422', 'avail_date': '2029-10-26', 'last_name': 'Kautzer', 'first_name': 'Lilliana', 'birthday': '2005-04-09'}, {'txn_id': 'TXN-48422', 'avail_date': '2029-10-26', 'last_name': 'Kautzer', 'first_name': 'Lilliana', 'birthday': '2005-04-09'}, {'txn_id': 'TXN-48422', 'avail_date': '2029-10-26', 'last_name': 'Kautzer', 'first_name': 'Lilliana', 'birthday': '2005-04-09'}, {'txn_id': 'TXN-37684', 'avail_date': '2014-12-04', 'last_name': 'Runte', 'first_name': 'Mike', 'birthday': '2007-06-15'}, {'txn_id': 'TXN-17092', 'avail_date': '2020-12-24', 'last_name': 'Douglas', 'first_name': 'Cathy', 'birthday': '2009-10-26'}, {'txn_id': 'TXN-17092', 'avail_date': '2020-12-24', 'last_name': 'Douglas', 'first_name': 'Cathy', 'birthday': '2009-10-26'}, {'txn_id': 'TXN-17092', 'avail_date': '2020-12-24', 'last_name': 'Douglas', 'first_name': 'Cathy', 'birthday': '2009-10-26'}, {'txn_id': 'TXN-17092', 'avail_date': '2020-12-24', 'last_name': 'Douglas', 'first_name': 'Cathy', 'birthday': '2009-10-26'}, {'txn_id': 'TXN-17092', 'avail_date': '2020-12-24', 'last_name': 'Douglas', 'first_name': 'Cathy', 'birthday': '2009-10-26'}, {'txn_id': 'TXN-59520', 'avail_date': '2015-07-18', 'last_name': 'Kessler', 'first_name': 'Russell', 'birthday': '1991-08-21'}, {'txn_id': 'TXN-08837', 'avail_date': '2014-04-28', 'last_name': 'Hettinger', 'first_name': 'Carlie', 'birthday': '1990-12-09'}, {'txn_id': 'TXN-08837', 'avail_date': '2014-04-28', 'last_name': 'Hettinger', 'first_name': 'Carlie', 'birthday': '1990-12-09'}, {'txn_id': 'TXN-52093', 'avail_date': '2025-05-31', 'last_name': 'Durgan', 'first_name': 'Trisha', 'birthday': '1994-10-29'}, {'txn_id': 'TXN-35117', 'avail_date': '2018-03-18', 'last_name': 'Anderson', 'first_name': 'Duncan', 'birthday': '2010-09-12'}, {'txn_id': 'TXN-35117', 'avail_date': '2018-03-18', 'last_name': 'Anderson', 'first_name': 'Duncan', 'birthday': '2010-09-12'}, {'txn_id': 'TXN-17937', 'avail_date': '2016-01-04', 'last_name': 'Torphy', 'first_name': 'Garret', 'birthday': '1998-11-26'}, {'txn_id': 'TXN-17937', 'avail_date': '2016-01-04', 'last_name': 'Torphy', 'first_name': 'Garret', 'birthday': '1998-11-26'}, {'txn_id': 'TXN-32813', 'avail_date': '2028-08-16', 'last_name': 'Predovic', 'first_name': 'Sage', 'birthday': '2007-10-07'}, {'txn_id': 'TXN-16095', 'avail_date': '2027-08-19', 'last_name': 'Bergstrom', 'first_name': 'Dedrick', 'birthday': '2000-04-15'}, {'txn_id': 'TXN-16095', 'avail_date': '2027-08-19', 'last_name': 'Bergstrom', 'first_name': 'Dedrick', 'birthday': '2000-04-15'}, {'txn_id': 'TXN-16095', 'avail_date': '2027-08-19', 'last_name': 'Bergstrom', 'first_name': 'Dedrick', 'birthday': '2000-04-15'}, {'txn_id': 'TXN-11897', 'avail_date': '2027-06-19', 'last_name': 'Reinger', 'first_name': 'Conrad', 'birthday': '1996-12-03'}, {'txn_id': 'TXN-11897', 'avail_date': '2027-06-19', 'last_name': 'Reinger', 'first_name': 'Conrad', 'birthday': '1996-12-03'}, {'txn_id': 'TXN-11897', 'avail_date': '2027-06-19', 'last_name': 'Reinger', 'first_name': 'Conrad', 'birthday': '1996-12-03'}, {'txn_id': 'TXN-43876', 'avail_date': '2021-11-13', 'last_name': 'Jewess', 'first_name': 'Lucio', 'birthday': '1996-07-05'}, {'txn_id': 'TXN-65468', 'avail_date': '2012-06-16', 'last_name': 'Cummings', 'first_name': 'Henry', 'birthday': '2005-08-14'}, {'txn_id': 'TXN-65468', 'avail_date': '2012-06-16', 'last_name': 'Cummings', 'first_name': 'Henry', 'birthday': '2005-08-14'}, {'txn_id': 'TXN-60822', 'avail_date': '2020-09-28', 'last_name': 'Feil', 'first_name': 'Jermey', 'birthday': '2010-06-15'}, {'txn_id': 'TXN-60822', 'avail_date': '2020-09-28', 'last_name': 'Feil', 'first_name': 'Jermey', 'birthday': '2010-06-15'}, {'txn_id': 'TXN-01784', 'avail_date': '2015-01-11', 'last_name': 'Schmidt', 'first_name': 'Emilie', 'birthday': '1996-05-21'}, {'txn_id': 'TXN-01784', 'avail_date': '2015-01-11', 'last_name': 'Schmidt', 'first_name': 'Emilie', 'birthday': '1996-05-21'}]]

In [ ]:
engine = create_engine('sqlite:///customer_transactions.db', echo=True)
df_customer_transaction.to_sql('customer_transactions', con=engine, if_exists='replace', index=False,
                              dtype={
                                  "txn_id": VARCHAR(10),
                                  "last_name" : VARCHAR(20),
                                  "first_name" : VARCHAR(20),
                              })

# Cleaning the Database

In [11]:
## Checking for duplicates

In [12]:
##### Detects the duplicated data

In [8]:
print(df_customer_transaction[df_customer_transaction['txn_id'].duplicated(keep=False)])

           txn_id  avail_date last_name first_name    birthday
0       TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1       TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
...           ...         ...       ...        ...         ...
130648  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130650  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21
130652  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[103233 rows x 5 columns]

In [ ]:
##### Stores the detected data on a variable

In [16]:
df_Duplicated_Customers = df_customer_transaction[df_customer_transaction.duplicated(keep=False)]

In [ ]:
print(df_Duplicated_Customers)

In [9]:
df_DropDuplicated_Customers = df_customer_transaction.drop_duplicates()

In [23]:
print(df_DropDuplicated_Customers)

           txn_id  avail_date last_name first_name    birthday
0       TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1       TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
6       TXN-40462  2021-08-21      KUHN        TOD  2002-11-25
8       TXN-08102  2010-04-03   JOHNSON     MILTON  2003-07-10
...           ...         ...       ...        ...         ...
130643  TXN-11897  2027-06-19   Reinger     Conrad  1996-12-03
130646  TXN-43876  2021-11-13    Jewess      Lucio  1996-07-05
130647  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[72355 rows x 5 columns]

In [52]:
print(df_DropDuplicated_Customers[df_DropDuplicated_Customers['first_name'].duplicated()])

           txn_id  avail_date last_name first_name    birthday
135     TXN-41845  2026-01-13   HACKETT    ANNAMAE  2001-12-11
271     TXN-51508  2017-03-13     FRAMI       ZOIE  2003-02-26
347     TXN-54642  2025-01-07   SCHMITT     CURTIS  1994-11-18
428     TXN-12820  2027-11-29      LIND     HETTIE  1993-10-24
478     TXN-43559  2012-12-30   REICHEL      ADOLF  2007-06-29
...           ...         ...       ...        ...         ...
130643  TXN-11897  2027-06-19   Reinger     Conrad  1996-12-03
130646  TXN-43876  2021-11-13    Jewess      Lucio  1996-07-05
130647  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[57615 rows x 5 columns]

In [10]:
engine = create_engine('sqlite:///Clean_customer_transactions.db', echo=True)
df_DropDuplicated_Customers.to_sql('customer_transactions', con=engine, if_exists='replace', index=False)

2023-11-22 09:20:22,273 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-22 09:20:22,283 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 09:20:22,284 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:20:22,285 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("customer_transactions")
2023-11-22 09:20:22,285 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 09:20:22,286 INFO sqlalchemy.engine.Engine
CREATE TABLE customer_transactions (
	txn_id TEXT,
	avail_date TEXT,
	last_name TEXT,
	first_name TEXT,
	birthday TEXT
)


2023-11-22 09:20:22,286 INFO sqlalchemy.engine.Engine [no key 0.00042s] ()
2023-11-22 09:20:22,597 INFO sqlalchemy.engine.Engine INSERT INTO customer_transactions (txn_id, avail_date, last_name, first_name, birthday) VALUES (?, ?, ?, ?, ?)
2023-11-22 09:20:22,598 INFO sqlalchemy.engine.Engine [generated in 0.24913s] [('TXN-24546', '2030-09-08', 'ORTIZ', 'EDUARDO', '1990-07-08'), ('TXN-14642', '2026-05-26', 'NIENOW', 'LEA', '2000-11-26'), ('TXN-60295', '2006-09-25', 'LESCH', 'FLETA', '1993-05-22'), ('TXN-40462', '2021-08-21', 'KUHN', 'TOD', '2002-11-25'), ('TXN-08102', '2010-04-03', 'JOHNSON', 'MILTON', '2003-07-10'), ('TXN-64262', '2018-11-23', 'HACKETT', 'MACI', '2005-06-20'), ('TXN-41934', '2025-03-07', 'HANE', 'SYLVAN', '2007-07-02'), ('TXN-39050', '2028-11-09', 'MAYER', 'TREMAINE', '1990-02-01')  ... displaying 10 of 72355 total bound parameter sets ...  ('TXN-60822', '2020-09-28', 'Feil', 'Jermey', '2010-06-15'), ('TXN-01784', '2015-01-11', 'Schmidt', 'Emilie', '1996-05-21')]
2023-11-22 09:20:22,701 INFO sqlalchemy.engine.Engine COMMIT

72355