In [2]:
import pandas as pd
import numpy as np

In [3]:
from datetime import date

In [ ]:
## Import classes to SQL

In [ ]:
#### Reads the JSON file (Pandas)

In [4]:
df_customer_transaction = pd.read_json("customer_transaction_info.json")

In [8]:
df_customer_transaction['avail_date'] = pd.to_datetime(df_customer_transaction['avail_date'], errors='coerce')
df_customer_transaction['birthday'] = pd.to_datetime(df_customer_transaction['birthday'], errors='coerce')
df_filt = df_customer_transaction[(df_customer_transaction['avail_date'] <= pd.to_datetime(date.today()))]
print(df_filt)

           txn_id avail_date last_name first_name   birthday
2       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
3       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
4       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
5       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
6       TXN-40462 2021-08-21      KUHN        TOD 2002-11-25
...           ...        ...       ...        ...        ...
130648  TXN-65468 2012-06-16  Cummings      Henry 2005-08-14
130649  TXN-60822 2020-09-28      Feil     Jermey 2010-06-15
130650  TXN-60822 2020-09-28      Feil     Jermey 2010-06-15
130651  TXN-01784 2015-01-11   Schmidt     Emilie 1996-05-21
130652  TXN-01784 2015-01-11   Schmidt     Emilie 1996-05-21

[95106 rows x 5 columns]

In [ ]:
#### Shows the first number of students

In [ ]:
df_customer_transaction.head()

      txn_id  avail_date last_name first_name    birthday
0  TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1  TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4  TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22

In [ ]:
#### Shows the length of columns (data) in the json file

In [ ]:
len(df_customer_transaction)

130653

In [ ]:
df_customer_transaction.head(130654)

           txn_id  avail_date last_name first_name    birthday
0       TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1       TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
...           ...         ...       ...        ...         ...
130648  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130650  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21
130652  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[130653 rows x 5 columns]

In [ ]:
## Convert the original customer.json file to sqlite

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import VARCHAR, DATE

engine = create_engine('sqlite:///customer_transactions.db', echo=True)
df_customer_transaction.to_sql('customer_transactions', con=engine, if_exists='replace', index=False)

In [ ]:
df_customer_transaction['avail_date'] = pd.to_datetime(df_customer_transaction['avail_date'], errors='coerce')
df_customer_transaction['birthday'] = pd.to_datetime(df_customer_transaction['birthday'], errors='coerce')
engine = create_engine('sqlite:///customer_transactions.db', echo=True)
df_customer_transaction.to_sql('customer_transactions', con=engine, if_exists='replace', index=False,
                              dtype={
                                  "txn_id": VARCHAR(10),
                                  "avail_date" : DATE,
                                  "last_name" : VARCHAR(20),
                                  "first_name" : VARCHAR(20),
                                  "birthday" : DATE,
                              })

2023-11-22 22:29:27,137 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-22 22:29:27,139 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 22:29:27,139 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,140 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 22:29:27,141 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,141 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-11-22 22:29:27,141 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,142 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-11-22 22:29:27,143 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,143 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("customer_transactions")
2023-11-22 22:29:27,144 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,145 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-22 22:29:27,145 INFO sqlalchemy.engine.Engine [raw sql] ('customer_transactions',)
2023-11-22 22:29:27,146 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("customer_transactions")
2023-11-22 22:29:27,147 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,147 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("customer_transactions")
2023-11-22 22:29:27,148 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,149 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-22 22:29:27,149 INFO sqlalchemy.engine.Engine [raw sql] ('customer_transactions',)
2023-11-22 22:29:27,151 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customer_transactions")
2023-11-22 22:29:27,152 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,153 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("customer_transactions")
2023-11-22 22:29:27,153 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,154 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 22:29:27,155 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,156 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customer_transactions")
2023-11-22 22:29:27,157 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,157 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("customer_transactions")
2023-11-22 22:29:27,158 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,158 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 22:29:27,158 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 22:29:27,159 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-22 22:29:27,159 INFO sqlalchemy.engine.Engine [raw sql] ('customer_transactions',)
2023-11-22 22:29:27,163 INFO sqlalchemy.engine.Engine
DROP TABLE customer_transactions
2023-11-22 22:29:27,163 INFO sqlalchemy.engine.Engine [no key 0.00067s] ()
2023-11-22 22:29:27,178 INFO sqlalchemy.engine.Engine
CREATE TABLE customer_transactions (
	txn_id VARCHAR(10),
	avail_date DATE,
	last_name VARCHAR(20),
	first_name VARCHAR(20),
	birthday DATE
)


2023-11-22 22:29:27,179 INFO sqlalchemy.engine.Engine [no key 0.00077s] ()
2023-11-22 22:29:27,839 INFO sqlalchemy.engine.Engine INSERT INTO customer_transactions (txn_id, avail_date, last_name, first_name, birthday) VALUES (?, ?, ?, ?, ?)
2023-11-22 22:29:27,839 INFO sqlalchemy.engine.Engine [generated in 0.50928s] [('TXN-24546', '2030-09-08', 'ORTIZ', 'EDUARDO', '1990-07-08'), ('TXN-14642', '2026-05-26', 'NIENOW', 'LEA', '2000-11-26'), ('TXN-60295', '2006-09-25', 'LESCH', 'FLETA', '1993-05-22'), ('TXN-60295', '2006-09-25', 'LESCH', 'FLETA', '1993-05-22'), ('TXN-60295', '2006-09-25', 'LESCH', 'FLETA', '1993-05-22'), ('TXN-60295', '2006-09-25', 'LESCH', 'FLETA', '1993-05-22'), ('TXN-40462', '2021-08-21', 'KUHN', 'TOD', '2002-11-25'), ('TXN-40462', '2021-08-21', 'KUHN', 'TOD', '2002-11-25')  ... displaying 10 of 130653 total bound parameter sets ...  ('TXN-01784', '2015-01-11', 'Schmidt', 'Emilie', '1996-05-21'), ('TXN-01784', '2015-01-11', 'Schmidt', 'Emilie', '1996-05-21')]
2023-11-22 22:29:27,997 INFO sqlalchemy.engine.Engine COMMIT

130653

# Cleaning the Database

In [ ]:
## Checking for duplicates

In [ ]:
##### Detects the duplicated data

In [ ]:
print(df_customer_transaction[df_customer_transaction['txn_id'].duplicated(keep=False)])

           txn_id avail_date last_name first_name   birthday
0       TXN-24546 2030-09-08     ORTIZ    EDUARDO 1990-07-08
1       TXN-14642 2026-05-26    NIENOW        LEA 2000-11-26
2       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
3       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
4       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
...           ...        ...       ...        ...        ...
130648  TXN-65468 2012-06-16  Cummings      Henry 2005-08-14
130649  TXN-60822 2020-09-28      Feil     Jermey 2010-06-15
130650  TXN-60822 2020-09-28      Feil     Jermey 2010-06-15
130651  TXN-01784 2015-01-11   Schmidt     Emilie 1996-05-21
130652  TXN-01784 2015-01-11   Schmidt     Emilie 1996-05-21

[103233 rows x 5 columns]

In [ ]:
##### Stores the detected data on a variable

In [ ]:
df_Duplicated_Customers = df_customer_transaction[df_customer_transaction.duplicated(keep=False)]

In [ ]:
print(df_Duplicated_Customers)

           txn_id avail_date last_name first_name   birthday
2       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
3       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
4       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
5       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
6       TXN-40462 2021-08-21      KUHN        TOD 2002-11-25
...           ...        ...       ...        ...        ...
130648  TXN-65468 2012-06-16  Cummings      Henry 2005-08-14
130649  TXN-60822 2020-09-28      Feil     Jermey 2010-06-15
130650  TXN-60822 2020-09-28      Feil     Jermey 2010-06-15
130651  TXN-01784 2015-01-11   Schmidt     Emilie 1996-05-21
130652  TXN-01784 2015-01-11   Schmidt     Emilie 1996-05-21

[92814 rows x 5 columns]

In [ ]:
df_DropDuplicated_Customers = df_customer_transaction.drop_duplicates()

In [ ]:
print(df_DropDuplicated_Customers)

           txn_id avail_date last_name first_name   birthday
0       TXN-24546 2030-09-08     ORTIZ    EDUARDO 1990-07-08
1       TXN-14642 2026-05-26    NIENOW        LEA 2000-11-26
2       TXN-60295 2006-09-25     LESCH      FLETA 1993-05-22
6       TXN-40462 2021-08-21      KUHN        TOD 2002-11-25
8       TXN-08102 2010-04-03   JOHNSON     MILTON 2003-07-10
...           ...        ...       ...        ...        ...
130643  TXN-11897 2027-06-19   Reinger     Conrad 1996-12-03
130646  TXN-43876 2021-11-13    Jewess      Lucio 1996-07-05
130647  TXN-65468 2012-06-16  Cummings      Henry 2005-08-14
130649  TXN-60822 2020-09-28      Feil     Jermey 2010-06-15
130651  TXN-01784 2015-01-11   Schmidt     Emilie 1996-05-21

[72355 rows x 5 columns]

In [ ]:
print(df_DropDuplicated_Customers[df_DropDuplicated_Customers['first_name'].str.isalpha(), df_DropDuplicated_Customers['l_name'].str.isalpha()])

InvalidIndexError: (0         True
1         True
2         True
6         True
8         True
          ...
130643    True
130646    True
130647    True
130649    True
130651    True
Name: first_name, Length: 72355, dtype: bool, 0         True
1         True
2         True
6         True
8         True
          ...
130643    True
130646    True
130647    True
130649    True
130651    True
Name: last_name, Length: 72355, dtype: bool)

In [ ]:
engine = create_engine('sqlite:///Clean_customer_transactions.db', echo=True)
df_DropDuplicated_Customers.to_sql('customer_transactions', con=engine, if_exists='replace', index=False)

2023-11-22 11:15:01,390 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-11-22 11:15:01,400 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 11:15:01,400 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,401 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 11:15:01,402 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,402 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-11-22 11:15:01,402 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,404 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-11-22 11:15:01,405 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,405 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("customer_transactions")
2023-11-22 11:15:01,406 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,407 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-22 11:15:01,407 INFO sqlalchemy.engine.Engine [raw sql] ('customer_transactions',)
2023-11-22 11:15:01,408 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("customer_transactions")
2023-11-22 11:15:01,408 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,409 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("customer_transactions")
2023-11-22 11:15:01,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,410 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-22 11:15:01,410 INFO sqlalchemy.engine.Engine [raw sql] ('customer_transactions',)
2023-11-22 11:15:01,411 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customer_transactions")
2023-11-22 11:15:01,411 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,412 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("customer_transactions")
2023-11-22 11:15:01,412 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,412 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 11:15:01,412 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,414 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("customer_transactions")
2023-11-22 11:15:01,414 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,415 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("customer_transactions")
2023-11-22 11:15:01,415 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,416 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("customer_transactions")
2023-11-22 11:15:01,416 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-11-22 11:15:01,417 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2023-11-22 11:15:01,417 INFO sqlalchemy.engine.Engine [raw sql] ('customer_transactions',)
2023-11-22 11:15:01,419 INFO sqlalchemy.engine.Engine
DROP TABLE customer_transactions
2023-11-22 11:15:01,419 INFO sqlalchemy.engine.Engine [no key 0.00038s] ()
2023-11-22 11:15:01,428 INFO sqlalchemy.engine.Engine
CREATE TABLE customer_transactions (
	txn_id TEXT,
	avail_date DATETIME,
	last_name TEXT,
	first_name TEXT,
	birthday DATETIME
)


2023-11-22 11:15:01,428 INFO sqlalchemy.engine.Engine [no key 0.00084s] ()
2023-11-22 11:15:01,935 INFO sqlalchemy.engine.Engine INSERT INTO customer_transactions (txn_id, avail_date, last_name, first_name, birthday) VALUES (?, ?, ?, ?, ?)
2023-11-22 11:15:01,936 INFO sqlalchemy.engine.Engine [generated in 0.40596s] [('TXN-24546', '2030-09-08 00:00:00.000000', 'ORTIZ', 'EDUARDO', '1990-07-08 00:00:00.000000'), ('TXN-14642', '2026-05-26 00:00:00.000000', 'NIENOW', 'LEA', '2000-11-26 00:00:00.000000'), ('TXN-60295', '2006-09-25 00:00:00.000000', 'LESCH', 'FLETA', '1993-05-22 00:00:00.000000'), ('TXN-40462', '2021-08-21 00:00:00.000000', 'KUHN', 'TOD', '2002-11-25 00:00:00.000000'), ('TXN-08102', '2010-04-03 00:00:00.000000', 'JOHNSON', 'MILTON', '2003-07-10 00:00:00.000000'), ('TXN-64262', '2018-11-23 00:00:00.000000', 'HACKETT', 'MACI', '2005-06-20 00:00:00.000000'), ('TXN-41934', '2025-03-07 00:00:00.000000', 'HANE', 'SYLVAN', '2007-07-02 00:00:00.000000'), ('TXN-39050', '2028-11-09 00:00:00.000000', 'MAYER', 'TREMAINE', '1990-02-01 00:00:00.000000')  ... displaying 10 of 72355 total bound parameter sets ...  ('TXN-60822', '2020-09-28 00:00:00.000000', 'Feil', 'Jermey', '2010-06-15 00:00:00.000000'), ('TXN-01784', '2015-01-11 00:00:00.000000', 'Schmidt', 'Emilie', '1996-05-21 00:00:00.000000')]
2023-11-22 11:15:02,051 INFO sqlalchemy.engine.Engine COMMIT

72355

## Dates