In [1]:
import pandas as pd
import numpy as np

In [ ]:
## Import classes to SQL

In [2]:
import sqlalchemy

In [6]:
#### Reads the JSON file (Pandas)

In [3]:
df_customer_transaction = pd.read_json("customer_transaction_info.json")

In [8]:
#### Shows the first number of students

df_customer_transaction.head()

In [9]:
#### Shows the length of columns (data) in the json file

len(df_customer_transaction)

In [4]:
df_customer_transaction.head(130654)

           txn_id  avail_date last_name first_name    birthday
0       TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1       TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
...           ...         ...       ...        ...         ...
130648  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130650  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21
130652  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[130653 rows x 5 columns]

# Cleaning the Database

In [11]:
## Checking for duplicates

In [12]:
##### Detects the duplicated data

In [41]:
print(df_customer_transaction[df_customer_transaction['txn_id'].duplicated(keep=False)])

           txn_id  avail_date last_name first_name    birthday
0       TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1       TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
3       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
4       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
...           ...         ...       ...        ...         ...
130648  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130650  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21
130652  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[103233 rows x 5 columns]

In [ ]:
##### Stores the detected data on a variable

In [16]:
df_Duplicated_Customers = df_customer_transaction[df_customer_transaction.duplicated(keep=False)]

In [ ]:
print(df_Duplicated_Customers)

In [22]:
df_DropDuplicated_Customers = df_customer_transaction.drop_duplicates()

In [23]:
print(df_DropDuplicated_Customers)

           txn_id  avail_date last_name first_name    birthday
0       TXN-24546  2030-09-08     ORTIZ    EDUARDO  1990-07-08
1       TXN-14642  2026-05-26    NIENOW        LEA  2000-11-26
2       TXN-60295  2006-09-25     LESCH      FLETA  1993-05-22
6       TXN-40462  2021-08-21      KUHN        TOD  2002-11-25
8       TXN-08102  2010-04-03   JOHNSON     MILTON  2003-07-10
...           ...         ...       ...        ...         ...
130643  TXN-11897  2027-06-19   Reinger     Conrad  1996-12-03
130646  TXN-43876  2021-11-13    Jewess      Lucio  1996-07-05
130647  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[72355 rows x 5 columns]

In [52]:
print(df_DropDuplicated_Customers[df_DropDuplicated_Customers['first_name'].duplicated()])

           txn_id  avail_date last_name first_name    birthday
135     TXN-41845  2026-01-13   HACKETT    ANNAMAE  2001-12-11
271     TXN-51508  2017-03-13     FRAMI       ZOIE  2003-02-26
347     TXN-54642  2025-01-07   SCHMITT     CURTIS  1994-11-18
428     TXN-12820  2027-11-29      LIND     HETTIE  1993-10-24
478     TXN-43559  2012-12-30   REICHEL      ADOLF  2007-06-29
...           ...         ...       ...        ...         ...
130643  TXN-11897  2027-06-19   Reinger     Conrad  1996-12-03
130646  TXN-43876  2021-11-13    Jewess      Lucio  1996-07-05
130647  TXN-65468  2012-06-16  Cummings      Henry  2005-08-14
130649  TXN-60822  2020-09-28      Feil     Jermey  2010-06-15
130651  TXN-01784  2015-01-11   Schmidt     Emilie  1996-05-21

[57615 rows x 5 columns]